section {
  font-family: "Open Sans", sans-serif;
  background: #000000;
}

#hero {
  height: 100vh;
  text-align: center;
}

#hero h1 {
  color: #ffffff;
  text-transform: uppercase;
}

#hero p {
  color: #ff0000;
  padding-bottom: 4px;
  letter-spacing: 1px;
  font-size: 3.6em;
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Rubik', sans-serif;
}